<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- Define your beans here -->

    <!--        BEAN FOR LOGGING - must be first
	  Add a logger config to see all logging messages.
	- For more detailed logs, set values to "FINEST"
	- For info on logging levels, see: http://www.vogella.com/tutorials/Logging/article.html
	            !! important!!
	list this as the first bean so that it is initialized first.
	Since the bean is initialized first, then you will get all of the logging traffic -->
    <bean id="myLoggerConfig" class="main.java.MyLoggerConfig" init-method="initLogger">
        <property name="rootLoggerLevel" value="FINE"/>
        <property name="printedLoggerLevel" value="FINE"/>
    </bean>

    <!--    OTHER BEANS -->
    <bean id="myCoach"
          class="main.java.BaseballCoach">
    </bean>

</beans>





